#tvRadio {
    height: 700px;
    background-image: url('/_imagens/radio-tv.png');
    background-repeat: no-repeat;
    margin-left: 39px;
    margin-top: 30px;
}

.musica {
    position: relative;
    top: 181px;
    left: 574px;
}

.filme {
    position: relative;
    top: 25px;
    width: 455px;
    height: 362px;
    left: -225px;
}